<h1><%= @message %></h1>
<h1><%= @meetup.name %></h1>
<h3><%= @meetup.location %></h3>
<p><%= @meetup.description %></p>
<% unless @meetup.users.include?(current_user) %>
  <a href="/join/<%= @meetup.id %>">Click here to join this meetup!</a>
<% else %>
  <a href="/leave/<%= @meetup.id %>">Click here to leave this meetup!</a>
<% end %>
<h4>Attendees</h4>
<ul>
  <% @meetup.users.each do |attendee| %>
    <div class="row">
      <div><%= attendee.username %></div>
      <img src="<%= attendee.avatar_url%>">
    </div>
  <% end %>
</ul>
<h2>Comments</h2>
<% unless @meetup.comments.any? %>
  <h3>Be the first to comment on this meetup!</h3>
<% end %>
<ul>
  <% @meetup.comments.order(created_at: :desc).each do |comment| %>
    <div class="row">
      <div align="float-right"><p><%= comment.content %></p></div>
      <div><h5><%= comment.user.username %> at <%= comment.created_at %></h5></div>
    </div>
  <% end %>
</ul>

<form action='/comment/<%= @meetup.id %>'  method='POST'>
  <div class="row"><label>
    <p>Comment</p>
    <textarea name='content' cols="100" rows="15"></textarea>
  </div></label>
  <div class="row">
    <button type='submit'>Submit Comment</button>
  </div>
</form>
