
  <h1>Christopher's Recipe Box</h1>
  <div class="row">
    <div class="large-3 columns">
      <h4>Recipe Name</h4>
    </div>
    <div class="large-9 columns">
      <h4>Description</h4>
    </div>
  </div>

    <% @recipes.each do |recipe| %>
    <div class="row" style="padding:10px">
      <div class="columns large-3">
        <a href="/recipes/<%=recipe["id"]%>">
          <%=recipe["name"]%>
        </a>
      </div>
      <div class="columns large-9">
        <%=recipe["description"][0..255] + "..."%>
      </div>
    </div>
    <%end%>

  <div class="row">
  <%if @page > 1 then%>
    <a class="small button columns small-4" href="/recipes?page=<%=@page-1%>">
      Previous Page
    </a>
    <%end%>
    <%unless @recipes.num_tuples < 20 %>
    <a class="small button columns small-4" href="/recipes?page=<%=@page+1%>">
      Next Page
    </a>
  <%end%>
</div>
  <!-- <form action="/recipes/search" method="get">
    <p><label for="search_box">Search:</label>
      <input type="text" name="query" id="search_input">
    </p>
  </form> -->
