<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Movie Catalog</title>
</head>
<body>
  <h1>Movie Catalog</h1>
  <table>
    <tr>
      <td>
        Title
      </td>
      <td>
        Year
      </td>
      <td>
        Rating
      </td>
      <td>
        Genre
      </td>
      <td>
        Studio
      </td>
    </tr>
    <% @movies.each do |movie| %>
      <tr>
        <td>
          <a href="/movies/<%=movie["id"]%>">
            <%=movie["title"]%>
          </a>
        </td>
        <td>
          <%=movie["year"]%>
        </td>
        <td>
          <%=movie["rating"]%>
        </td>
        <td>
          <%=movie["genre"]%>
        </td>
        <td>
          <%=movie["studio"]%>
        </td>
      </tr>
    <%end%>
  </table>

  <p><%if @page > 1 then%>
    <a href="/movies?page=<%=@page-1%>&order=<%=@order%>&query=<%=@query%>">
      Previous Page
    </a>
    <%end%>
    <a href="/movies?page=<%=@page+1%>&order=<%=@order%>&query=<%=@query%>">
      Next Page
    </a>
  </p>
  <form action="/movies/search" method="get">
    <p><label for="search_box">Search:</label>
      <input type="text" name="query" id="search_input">
    </p>
  </form>
</body>
</html>
